/*********************** CSS UTILI ***********************/
body {
    background-color: black;
    color: white;
}

img {
    height: 300px;
    object-fit: cover;
}

.none {
    display: none;
}

.block {
    display: block;
}